/* 
    General Styles
*/

// Nav Styles
.logo {
    max-width: 80px;
}

.btn-favorites, .btn {
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
    border:1px solid #eeb44f;
    color:#ffffff;
    text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;

}

.btn-favorites:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}

.btn-favorites:active {
	position:relative;
	top:1px;
}